@import './core/index';
@import './core/reset';

html{
	height: 100%;
}

.main-content{
  padding: 20px;
}

.content-card{
  margin: 0 auto;
  width: 968px;
}

.card-title{
  font-size: 24px;
  line-height: 36px;
}

