@import './core/index';
@import './core/reset';

html{
	height: 100%;
  background: linear-gradient(#30aaaa, #50c7b3, #30aaaa); /* 标准的语法 */
}

body,#main-content{
	height: 100%;
	min-height: 1200px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

