.posts-inner {
  font-size: 1.3em;
  color: #333;
  line-height: 1.4;
  text-align: justify;

  h1,h2,h3,h4,h5,h6{
    position: relative;
    color: #30aaaa;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;

    &:before{
      position: absolute;
      top: 0;
      left: -25px;
      content: '#';
      color: #30aaaa;
      z-index: 200;
    }
  }
  p {
    margin: 10px 0;
    -webkit-hypens:auto;
    -moz-hypens:auto;
    hyphens:auto;
  }
  ul {
    list-style: square;
    padding-left:1.2em;
  }
  ol {
    padding-left:1.2em;
  }
  blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #ddd;
  }
  code {
    font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
    font-size: .9em;
    }
  a {
    color: #2484c1;
    text-decoration: none;
    }
  a:hover {
    text-decoration: underline;
    }
  a img {
    border:none;
    }
  h1 a, h1 a:hover {
    color: #333;
    text-decoration: none;
  }
hr {
  color : #ddd;
  height : 1px;
  margin: 2em 0;
  border-top : solid 1px #ddd;
  border-bottom : none;
  border-left: 0;
  border-right: 0;
  }
p#heart{
  font-size: 2em;
  line-height: 1;
  text-align: center;
  color: #ccc;
  }
.red {
  color:#B50000;
  }

pre{
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  color: #ccc;
  overflow: auto;
}
}
